*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 32%;
    padding: 10px;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card-title{
    padding: 10px;
    font-weight: 600;
}
.card-body{
    padding: 10px;
}
.bt{
    border-top: 3px solid purple;
}
@media(max-width:955px){
    .btn{
        flex-wrap: wrap;
    }
    .btn a{
        margin-top: 10px;
        widows: 100%;
    }
}
@media(max-width:900px){
    body{
        /* background: #ec46c8; */
        
    }
    .container{
        flex-wrap: wrap;
        width: 90%;
    }
    .card{
        width: 49%;
    }
    .btn{
        display: none;
    }
}
@media(max-width:760px){
    .card{
        width: 100%;
    }
    .container{
        width: 97%;
    }
    .btn a{
        margin-top: 10px;
        width: 48%;
    }
    .btn{
        display: flex;
    }
    /* body{
        background: #8282ec;
    } */
}
